{
	"reporter": [
		"lcov",
		"text"
	],
	"include": [
		"src/**/*.js"
	],
	"exclude": [
		"node_modules",
		"database",
		"bin",
		"coverage",
		"test",
		"src/database/**",
		"src/helpers/**",
		"src/models/**",
		"src/index.js",
		"src/controllers/social-auth.*",
		"src/config/passport-config.js"
	],
	"sourceMap": false,
	"instrument": false,
	"cache": true,
	"all": true,
	"extension": [
		".js"
	]
}
